
body{
    background-color: black;
}
.container{
    border: 2px solid white;
    width: 658px;
    height: 655px;
    margin: auto;
}
.xs{
    width: 80px;
    height: 80px;
    border: 2px solid rgb(203, 29, 225);
    float: left;
    background-color: white;
}
.xl{
    width: 80px;
    height: 80px;
    border: 2px solid rgb(155, 27, 181);
    float: left;
    background-color: red;
}
